.loadingbar-base {
	background: #1ea491;
	color: #fff;
	border-radius: 4px;
	padding: 0 4px;
	white-space: nowrap;
	background-image: url('/assets/images/loading-bg.png');
	animation: infinite bgslider 3.5s;
	width: 100%;
	span {
		font-weight: bold;
	}	
}

@keyframes bgslider {
	0% {
		background-position-x: 0%;
	}
  100% {
		background-position-x: 100%;
	}
}