.topology{
  font-size: $iconSize - 5px;

  &>.base-download{
    float: right;
    margin-right: 15px;
  }
 }
.results{
  float: right;
  color: #1f77b4;
  margin-top: 2px;
  padding-right: 10px;
}

.nDiameter {
  min-width: 28px;
}
