$baseColor: #727272;
$borderColor:#dadada;
$highlightColor: #ededed;
$fontSize: 11px;
$iconSize: 16px;
$iconSizeLarge: 24px;
$spacing: 6px;
$overflowWidth: 24px;
$iconSizeMedium: 20px;

$red: rgb(204,102,119);
$green: rgb(17,119,51);
$blue: rgb(53, 152, 219);
$orange: rgb(243, 156, 17);
$lightBlue: rgb(82, 167, 224);
$selected: rgb(208, 234, 241);
$ccColor: rgb(211, 0, 0);
$blueSapphire: rgb(13, 117, 187);

$windowBackgroundColor: white;
$defOpacity: 0.3;
$headHeight: $iconSizeLarge + 2*$spacing;

