<div class="modal-content" style="min-width: 500px; min-height:150px; left: 37%;">
	<div class="modal-header" style="padding:16px">
		<span class="close" style="bottom: 12px;">&times;</span>
	</div>
	<div class="modal-body" style="text-align: center; margin: 5px;">
		<p style="font: 11px Arial, Helvetica, sans-serif;">
			ModelIt! is freely available for use by the academic and non-profit research community. The use of ModelIt! within pro-profit organizations may require additional licensing agreements. Please contact <a href="mailto:info@discoverycollective.com" style="color: #007bb5; text-decoration: none;">info@discoverycollective.com</a> for more information. Publications that result from use of ModelIt! should acknowledge <a href="https://cellcollective.org" style="color: #007bb5; text-decoration: none;">https://cellcollective.org</a> as the source of those data and cite the following paper: Helikar et. al. 2012. BMC Syst Biol. 6:96. doi: 10.1186/1752-0509-6-96.
		<p id="versionInfo" style="font: 11px Arial, Helvetica, sans-serif;">
			The current version of the application: <strong></strong>
		</p>
	</div>
</div>