<div class="modal-content" style="min-height: 239px;">
	<div class="modal-header">
		<span class="close">&times;</span>
		<h4 style="text-transform: uppercase;"></h4>
	</div>
	<div class="modal-body">
		<form class="change-password-view">
			<div>
				<input type="password" name="cpassword" autocomplete="off" placeholder="Current Password" data-translate-placeholder="current_password"
						minlength="8" required/> 
			</div>
			<div>
				<input type="password" name="password" autocomplete="off" placeholder="New Password" data-translate-placeholder="new_password" minlength="8" required/>
			</div>
			<div>
				<input type="password" name="vpassword" autocomplete="off" placeholder="Verify Password" data-translate-placeholder="verify_password" minlength="8" required/>
			</div>
			<div>
				<div class="change-password-error" class="errors"></div>
			</div>
			<button class="btn-submit-change-password" style="text-transform: uppercase;" type="submit" data-translate="change_password">Change Password</button>
		</form>
	</div>
</div>