<div class="modal-content" style="min-width: 340px; min-height:400px; padding: 12px">
	<div class="modal-header" style="padding:2px">
		<span class="close" style="bottom: 12px;">&times;</span>
		<h4 style="text-transform: uppercase; margin:0; color:white" data-translate="create_institution">Create institution</h4>
	</div>
	<div class="modal-body">

		<form class="create-institution-form">
			<div>
				<div class="create-institution-errors errors" style="display: none;"></div>
			</div>
			<div class="row">
				<input type="text" name="institution_name" data-translate-placeholder="institution_name" placeholder="Institution Name" tabindex="4">
			</div>
			<div class="row">
				<input type="text" name="institution_category" data-translate-placeholder="institution_category" placeholder="Category" tabindex="4">
			</div>
			<div class="row">
				<input type="text" name="institution_city" data-translate-placeholder="institution_city" placeholder="City" tabindex="4">
			</div>
			<div class="row">
				<input type="text" name="institution_country" data-translate-placeholder="institution_country" placeholder="Country" tabindex="4">
				<input type="text" name="institution_state" data-translate-placeholder="institution_state" placeholder="State" tabindex="4">
			</div>
			<div class="row">
				<input type="text" name="institution_domains" data-translate-placeholder="institution_domains" placeholder="Domains" tabindex="4">
			</div>
			<div class="row">
				<input type="text" name="institution_websites" data-translate-placeholder="institution_websites" placeholder="Websites" tabindex="4">
			</div>
			<div class="row">
				<button class="btn-create-institution" type="submit" data-translate="btn_create_institution">Create</button>
			</div>
		</form>
	</div>
	<div class="modal-footer">		
	</div>
</div>