
button {
	&.icon-button {
		padding: 0px;
		color: rgb(124, 124, 124);
		background: transparent;
		border: none;
	}
}

button.icon-button:hover {
	color: rgb(170,170,170);
}

div.course-display-item {
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid rgb(218,218,218);
	padding: 3px;
}