div.course-add {
	position: absolute;
	width: 100%;
	height: 100%;

	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	ul {
		li {
			padding: 5px;
			cursor: pointer;
			border-bottom: 1px solid #dadada;

			&:hover {
				background-color: skyblue;
			}
		}
	}
}