.table {
    width: fit-content;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc; 
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.visibility {
    width: 40px;
    text-align: center;
}

.activity {
    width: 200px;
    text-align: center;
}

.name {
    width: 40px;
    text-align: center;    
}
