input[type="button"] {
  cursor: pointer;
  transition: all 0.5s;
  transition-property: opacity, color, background-color;

  &:not(.no-transform){
    text-transform: uppercase;
  }

  &.raised {
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    height: $fontSize + 2.5*$spacing;
    margin-right: 2*$spacing;
    padding: 0 $spacing;
    min-width: 64px;
    border: 1px solid #dcdcdc;
    color: #444;
    background: linear-gradient(top, #f5f5f5, #f1f1f1);

    &:hover:not(:disabled):not(.standalone) {
      border: 1px solid #C6C6C6;
      color: #333;
      background: linear-gradient(top, #f8f8f8, #f1f1f1);
      box-shadow: 0px 1px 1px rgba(black, 0.1);
    }
  }

  &.expand {
    width: 100%;
    height: 100%;
  }

  &.standalone{
    font-size: 24pt;
  }

  &.teaching {
    background-color: #3498db;
    color: white;
  }
  &.teaching:hover {
    background-color: #005cb8;
  }

  &.learning {
    background-color: #ea5e42;
    color: white;
  }
  &.learning:hover {
    background-color: #e23a19;
  }

  &:not(.standalone):not(.icon-inheritb-bg):hover{
    color: $lightBlue;
    background-color: $green;
  }

  &:disabled {
    cursor: auto;
    color: #D7D7D7;
    transition: none;
  }

  &.teaching:disabled {
    background-color: #E7E7E7;
  }
  &.learning:disabled {
    background-color: #E7E7E7;
  }

  &.draggable {
    cursor: grab;
    &:active {
      cursor: move;
    }
	}
	
  &.clickable {
    cursor: pointer;
  }

}

.submitted{
	border-radius: 2px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(17, 188, 197, 0.895);
	height: 73%;
	width: 100%;
	color: white;
	font-size: 31px;
	padding-top: 32px;
	&> small {
		&.smallClass{
			display: block;
			font-size: 15px;
		}
	}	
}


div.btnStartLesson {
	height: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	&.disabled {
		background-color: #ee907d;
	}
	& span {
		font-size: 24pt;
		font-weight: bold;
		text-align: center;
		display: grid;
	}
}