.description {
  dl {
    display: block;
    line-height: 2*$fontSize;

    &.area {
			overflow-y: auto;
			height: 80%;

      &:first-child {
        margin-top: $spacing;
      }

      dt {
        display: block;
        margin-bottom: 0.5*$spacing;
        font-weight: bold;
        line-height: normal;
        border-bottom: 1px solid $borderColor;
      }

      dd {
        display: block;
        font-weight: normal;
        line-height: $fontSize + $spacing;
      }

      .editable {
        display: block;
        min-height: $fontSize + $spacing;
        line-height: $fontSize + $spacing;
        font-weight: normal;

        &> input {
          font-weight: normal;
        }
      }

      div.editable {
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }

  h1 {
    font-size: $fontSize;
    margin: 0 0 $spacing 0;
    border-bottom: 1px solid $borderColor;

    &> .icon {
      margin: 0 0 0 0.5*$spacing;
    }
  }

  ol li {
    line-height: $fontSize + $spacing;
    margin-bottom: 0.5*$spacing;

    &> div {
      display: inline-block;
      vertical-align: top;

      .editable {
        white-space: normal;
        display: inline;
      }

      div.remove {
        position: static;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 0.5*$spacing;
      }

      &> *:first-child:hover ~ div.remove {
        opacity: 1;
      }

      form.editable ~ div.remove {
        visibility: hidden;
      }
    }
  }

  ul li {
    line-height: $fontSize + $spacing;
  }

  .cover {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border: 1px solid $borderColor;
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;

    &> div:first-child {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      &> img {
        width: 100%;
        height: 100%;
      }

      &> dt {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100px;
        margin-left: -50px;
        text-align: center;
      }

      &> div {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $windowBackgroundColor;
      }
    }
  }
}