.research {
    .heading {
        .menu {
            &> .editable, &> .editable > input, &> dt {

            }
        }
    }
}

.learning, .teaching {
    .heading {
        &> ul {
            top: 24px;
        }
    }

    .menu2.version {
        min-height: 27px;
    }
}

.heading {
  $backgroundColor: #333;
  $color: #EEE;

  ul.toolbarCss li{
		cursor: pointer;
    div.remove {
      right: -0.5*$spacing;
      top: 0.5*$spacing;
    }
  }

  &>div> .menuVersionSelect{
    margin-left: 45px !important
  }

  .mainTopbar {
	ul.toolbarCss > li > div {
		margin: $spacing;
	}
  }

  &> div, &> span > div {
    height: $headHeight;
    padding: 0 $spacing;
	position: relative;

    &> .icon {
      background-color: white;
      opacity: 0.9;

      &[class*=' large-'] {
        margin: $spacing 0.5*$spacing;

        &.selected {
          background-color: $lightBlue;
        }

        &.public {
          background-color: $green;
        }
      }

      &.menu, .menu2 {
        opacity: 1;
      }

      &:hover {
        background-color: $blue;
        opacity: 1;

        &.large-add, &.large-upload {
          background-color: $green;
        }
      }

      &:disabled, &.disabled {
        background-color: white !important;
        opacity: 0.15;
      }
    }

    &:nth-child(2) {
      .menu:not(.menuVersionSelect), .menu2 {
        &> ul > li {
          margin-left: 15px;
          margin-right: 7px;
        }
      }
    }

    &:first-child {
      background-color: #232323;

      .menu, .menu2 {
        &.icon {
          background-color: #E8E8E8;
        }
      }

      dt {
        margin-right: 2*$spacing;
      }

      &> .large-search {
        margin-right: -1.5*$spacing;
      }
    }

    &:last-child {
      background-color: $backgroundColor;

      .menu, .menu2 {
        &.icon {
          background-color: #EAEAEA;
        }

        &> ul > li {
          top: 4px; //changed for #2228
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      &>.editable {
        position: relative;
        width: 300px;

        @media (max-width: 942px) {
          width: 200px;
        }

        &:after {
          @include overflowRight($backgroundColor);
        }
      }

      .sharing {
        position: relative;

        &> span {
          position: absolute;
          right: -$iconSizeLarge - $spacing;
          top: $iconSizeLarge - 0.5*$spacing;
          padding: 0 2px;
          background-color: $green;
          color: white;
        }
      }
    }

    &> .editable, &> .editable > input, &> dt {
      color: $color;
      font-size: $fontSize + 2px;
    }

    &> .editable, &> dt {
      line-height: $headHeight;
    }

    &> .editable {
      margin: 0 2*$spacing;

      &:first-child {
        margin-left: $spacing;
      }
    }

    &> dt {
      &.warning {
        color: red;
      }

      &.notice {
        font-style: italic;
      }
    }

    &> ul.favorites, & ul.education {
      display: inline-block;
      vertical-align: top;
      padding-top:    1.5*$spacing;
      padding-bottom: 1.5*$spacing;
      line-height: $fontSize + $spacing;
      color: $color;

      &> li {
        position: relative;
        display: inline-block;
        cursor: pointer;

        &.selected {
          margin-bottom: 1px;
          color: $lightBlue;
          border-bottom: 1px solid $lightBlue;
        }
      }
    }

    &> ul.favorites {

      &> li {
        margin-right: 1.3*$spacing;

        &:first-child {
          margin-left: 2*$spacing;
        }
      }


      @media (min-width: 1112px) {
        &> li {
          margin-right: 4*$spacing;
        }
      }
    }

    div.scroll &> div.scrollable.overflow:after {
        background-color: transparent;
    }

    &>.submenu .scrollable > div {
        width: max-content;
        width: -moz-max-content;
    }

    &>.submenu ul.education  {
      text-align: center;
      padding-bottom: 0;

      &> li {
       margin-right: 20px;

      }
      &> li:hover .remove-activity {
        opacity: 1;
       }
    }

    &> ul.education{
      margin-left: 12%;

      &> li {
        margin-right: 25px;
      }
    }


    &> div.large-layout > ul, &> div.large-visibility > ul {
      &> li.selected:not(:hover) {
        color: $lightBlue;
      }

      li {
        &.custom {
          div.remove {
            right: -0.5*$spacing;
            top: 0.5*$spacing;
          }

          &:hover div.remove {
            opacity: 1;
          }
        }

        &.custom ~ .custom {
          border: none;
        }
      }

      &> li {
        &> div {
          cursor: pointer;
        }

        &:first-child > div {
          cursor: default;
        }

        &:nth-child(2):not(.custom) {
          border-top: 1px solid rgba(white, 0.5);
        }
      }
    }

    &> div.large-layout > ul > li > ul.customize > li:last-child.custom {
        border-top: 1px solid rgba(white, 0.5);
    }

    &> div.large-visibility > ul > li > ul > li:not(:last-child).custom {
        border-bottom: 1px solid rgba(white, 0.5);
    }

    &> div.large-layout > ul > li > ul.customize > li:last-child.custom, &> div.large-visibility > ul > li > ul > li.custom {
        &> div:before {
            content: "";
            background-image: url('/assets/images/icons/base/layout.png');
        }
    }

    &> div.large-visibility > ul > li > div {
      cursor: default;
    }

    &> div.large-account > ul {
      min-width: 0;
    }
  }


  .menu, .menu2 {
    cursor: auto;

    &.right {
      &> ul.ul {
        &> li {
          &> div {
            padding-left: 2*$spacing+4px;

            &:first-child:nth-last-child(2):before {
              left: $spacing;
              background-image: url('/assets/images/icons/base/arrow-left.png');
            }
          }
        }
      }
    }

    &:not(.right) {
      ul.ul {
        &> li {
          &> div {
            &:first-child:nth-last-child(2):before {
              right: $spacing;
              background-image: url('/assets/images/icons/base/arrow.png');
            }
          }
        }
      }
    }


    &.icon {
      &> ul {
        $y: 0.5*$spacing + 1px;
        top: $iconSizeLarge + $y - 5px;
      }
    }


    ul.ul, ul.ul > div {
      color: $color;
      background-color: $backgroundColor;
      border: 1px solid rgba(white, 0.5);
      box-shadow: 1px 1px 7px 1px rgba(black, 0.5);
    }

    &.name {
        display: inline-block;
        color: $color;
        padding: 1.5px 0;

        &> .editable, &> .editable > input, &> dt {
            display: inline-block;
            font-size: $fontSize + 2px;
            color: $color;
        }

        .editable {

            width: 200px;

            @media (min-width: 1112px) {
              width: 300px;
            }

            &:after {
                @include overflowRight($backgroundColor);
            }
        }

        &> .heading {
            display: inline-block;
        }

        &> .version {

            &> .editable, &> .editable > input, &> dt {
                display: inline-block;
                color: $color;
            }

            &> ul {
                top: 12px !important;
            }
        }

        li {
            &.custom {
                border-top: 1px solid rgba(white, 0.5);
            }

            div.remove {
                right: -0.5*$spacing;
                top: 0.5*$spacing;
            }

            &:hover div.remove {
                opacity: 1;
            }
        }
    }



    ul.ul {
      width: auto;
      max-width: 250px;

      &> div {
        position: absolute;
        top: -1px;
        left: 100%;
        margin-left: $spacing;
        opacity: 0.95;
        border-radius: 2*$spacing;
        padding: 1.5*$spacing;

        &> div {
          position: relative;
          width: 300px;
          height: 350px;

          &.page {
            width: 400px;
            height: 300px;
            border: 1px solid white;

            &> .heading > div {
              height: 2.6*$spacing;
            }

            &> .arrangement {
              position: absolute;
              top: 5*$spacing;
              bottom: $spacing;
              left: $spacing;
              right: $spacing;

              &> .view > div {
                padding: 0;
                text-align: center;

                &> p {
                  top: 50%;

                  &.horizontal {
                    position: relative;
                    transform: translateY(-50%);
                  }

                  &.vertical {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                  }
                }
              }
            }
          }
        }

        &> p {
          margin-top: $spacing;
          line-height: $fontSize + 0.5*$spacing;
        }
      }

      &> li {
        line-height: $fontSize + 2*$spacing;

        &> div {
          &:first-child:nth-last-child(2):before {
            position: absolute;
            top: 7px;
            z-index: 1;
            width: 4px;
            height: 8px;
            content: "";
          }

          &:first-child:nth-last-child(2):before {
            position: absolute;
            top: 7px;
            right: $spacing;
            z-index: 1;
            width: 4px;
            height: 8px;
            content: "";
            background-image: url('/assets/images/icons/base/arrow.png');
          }

          &.version {

            &>.selectVersion {
              width: 16px;
              height: 16px;
              display: inline;
              background-repeat: no-repeat;
              content: "";
              cursor: pointer;
            }
          }

          &.checkbox {
            cursor: pointer;

            &.checked:before {
              top: 0.5*$spacing;
              background-image: url('/assets/images/icons/base/check-white.png');
            }
          }

          &:after {
            @include overflowRight($backgroundColor, 0);
          }

          &.disabled {
            color: $lightBlue;
          }
        }



        &:hover {
          &> div:not(.disabled) {
            opacity: 1;
            background-color: $blue;

            &:after {
              @include overflowRight($blue, 0);
            }
          }

          &> ul:not(.static) {
            display: block;
          }
        }

        &> ul {
          top: -1px;
          left: 100%;
        }
      }
    }

    &> ul {
      $y: 0.5*$spacing + 1px;
/*      z-index: 1000; */

      &:before {
        position: absolute;
        left: 0;
        top: -$y;
        width: 100%;
        height: $y;
        content: "";
      }
    }

    &:not(.disabled):hover > ul:not(.static) {
      display: block;
    }

    &.right {
      &.large-translation > ul {
        margin-bottom: 1px;
        margin-top: -3px;
      }

      &> ul {
        right: 0;
        left: auto;

        &> li > ul {
          right: 100%;
          left: auto;
        }
      }

      ul.ul > div {
        right: 100%;
        left: auto;
        margin-right: $spacing;
        margin-left: 0;
      }
    }
  }

  .inline {
    li {
      display: inline-block;
      margin: 0 $spacing 0 3*$spacing;
      cursor: pointer;
      font-size: $fontSize + 2px;
      line-height: $headHeight;
      color: #EEE;
    }
  }


  .menu2 {
      display: inline-block;

      &> .editable, &> .editable > input, &> dt {
          font-size: $fontSize + 4px;
          padding-top: 5px;
          padding-bottom: 5px;
      }

      &.submenu > div {
          position: absolute;
      }

      &.submenu {
        &:first-child {
          margin-left: 300px;
        }

        &> div > div {
          min-height: 17px;
        }
      }

  }
}
