$dropBorderColor : #1266E7;
$dropBgColor: #4285f4;



.drop-component
{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 3px;

    &> .dropzone{
        position: absolute;
        opacity: 0;
        border : 2px solid $blue;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: 1;
        font-size: $fontSize + 10;
        cursor: pointer;
        color: $dropBorderColor;
        display: table;


        &>div{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

    }

    @keyframes dropzone-signed{
      from {
        transform: translate(0,-2px);
        -webkit-transform: translate(0,-2px);
        -o-transform: translate(0,-2px);
        -moz-transform: translate(0,-2px);
      }
      to {
        transform: translate(0,2px);
        -webkit-transform: translate(0,2px);
        -o-transform: translate(0,2px);
        -moz-transform: translate(0,2px);
      }
    }



    .dropzone-signed{
      display: table;
      color: #fff;
      background-color: $dropBgColor;
      border: solid 2px $dropBgColor;
      font-size: 16px;
      z-index: 100;
      width: 50%;
      padding: 8px 0;
      transform-origin: 50% 50%;
      animation: bounce 0.5s linear alternate infinite;
      box-shadow: 0px 0px 1px $blue;
      border-radius: 2px;
      animation-duration: .5s;
      animation-name: dropzone-signed;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      margin: 0 auto;
    }

    .dropzone-active {
        border: 2px $green solid;
        opacity: 1;
     }

     .dropzone-reject {
         border: 2px $red solid;
         opacity: 1;
     }

     .uploaded-image {
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: middle;

        &>div,>img {
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          &.preserve-ratio{
            max-width: 100%;
            max-height: 100%;
          }

          &.skew{
            width: 100%;
            height: 93%;
          }

          &>span {
            &.line1 {
              font-size: 22pt;
            }
            &.line2 {
              font-size: 18pt;
            }
          }
        }
     }


    .background-upload-icon {
        width : 30%;
        height: 30%;
        margin-bottom: none;
    }

    &>div{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

}

.drop-component:hover .dropzone {
    opacity: 1;
}

.drop-unsigned {
  display: table;
  height: 100%;
  width: 100%;
  margin: auto;

  &>div{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
  }

}

.caption {
    $backgroundColor: #f8f8f8;
    padding: 0px;

    .icon.selected {
      background-color: $lightBlue;
    }

    &.descr  {
      height: 18px;
      min-width: 230px;

      div {
        &.editable {
          padding-top: 2px;
        }
      }

      form {
        &.editable {
          padding-bottom: 2px;
        }
      }

      div,form {
        &.editable {
          height:     12px;
          min-width:  200px;
        }
      }
    }

    &.title  {
      font-size: 11px;
      min-width: 200px;
      font-weight: bold;

      input {
        font-size: 11px
      }

      div {
        &.editable {
          padding-top:    0;
        }
      }

      form {
        &.editable {
          padding-bottom:    0;
        }
      }

      div,form {
        &.editable {
          min-width:  200px;
        }
      }
    }
  }

.actions {
  &>.icon.imageMode {
    &:not(.checked1) {
      background-image: url("/assets/images/icons/base/preserve-scale.png");
    }

    &.checked1 {
      background-image: url("/assets/images/icons/base/skew.png");
    }
  }

  &>.icon.description {
    &:not(.checked1) {
      background-image: url("/assets/images/icons/base/description-disabled.png");
    }

    &.checked1 {
      background-image: url("/assets/images/icons/base/description.png");
    }
  }

}

.dropzone-position{
	position: absolute !important;
}