div.model-control {
	div {
		padding: 0;
		display: inline-block;
	}

	.icon.base-filter {
		background-color: transparent;
		vertical-align: middle;
		margin: 0 5px;
	}

	.filter-label {
		margin-left: 5px;
		vertical-align: middle;
		cursor: pointer;

		input[type="button"].icon.base-menu {
			margin: 0 0 0 5px;
		}
	}

	.menu {
		position: fixed;
		z-index: 100;
		& > ul {
			top: 0;
			li {
				height: 25px;
			}
			li > ul {
				position: absolute;
				top: 0;
				left: 100%;
			}
		}
	}
}
