.modelCanvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 500px;
	height: 500px;
	visibility: hidden;
}
.modelCards {
  .cards {
    $top: 56px;
    $bottom: 73px - 17px;

    &> input[type="button"] {
      font-size: $fontSize + 2px;
    }

    div.card {
			a {
				font-weight: bold;
				color:#787878;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
				&:active {
					color: blue;
				}
			}

      dl {
        line-height: $fontSize + $spacing;
      }

      div.rating {
        display: inline-block;
        vertical-align: top;
      }

      &> div {
        padding-bottom: $top + $bottom - 2*$spacing;
      }

      div.frame {
        padding: 0 $spacing;

        &> div {
          padding: $top 0 $bottom 0;
          cursor: pointer;

          &> div {
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 $spacing;

            &:first-child {
              top: 0;
							height: $top;
							z-index: 1;

              &> div:first-child {
                position: relative;
                $height: $fontSize + 1px + 2*$spacing;
                line-height: $height * 0.75;
                font-size: $fontSize + 1px;
                font-weight: bold;
                margin-right: $spacing * 2.5;

                &:after {
                  @include overflowRight($windowBackgroundColor);
                }
              }
            }

            

            &.cover {
              top: $top;
              bottom: $bottom;
              overflow: hidden;

              &> img {
                width: 100%;
                height: 100%;
              }
            }            
            

            &.research-info {
              bottom: 0;
              height: $bottom - 2px;

              &> div {
                white-space: nowrap;
                overflow: hidden;
              }
            }

            

            &> div {
              &> dl:first-child {
                width: 45%;
              }

              &> dl:last-child {
                width: auto;
              }
            }
          }
        }

        div.remove {
          top: -0.5*$spacing;
        }

        &:hover div.remove {
          opacity: 1;
        }

        div.icon {
          position: absolute;
          top: -1px;
          right: 1px;
          background-color: $blue;

          &.base-research, &.undefined {
            display: none;
          }

          &.Editing {
            background-image: url('/assets/images/icons/base/building.png');
            top: -0.5*$spacing;
          }
        }
				
				div.icon_circle {
          position: absolute;
          top: 2px;
          right: 2px;
					width: $iconSize;
					height: $iconSize;
        }

        .learning {
          &> div:first-child > div:first-child:after {
            right: 2*$spacing;
          }
        }
      }
    }
  }
}