$cellSpace: 0.5*$spacing;

table:not(.no-format) {
  width: 100%;
  table-layout: fixed;

  $dateWidth: 63px;
  $numberWidth: 20px;
  $percentageWidth: 27px;
  $durationWidth: 50px;
  $largeWidth: 180px;
  $middleWidth: 95px;

  th.date, th.modelType {
    width: $dateWidth + $spacing + 1px;
  }

  td.date, td.modelType {
    width: $dateWidth;
  }

  th.number {
    width: $numberWidth + $spacing + 1px;
  }

  td.number {
    width: $numberWidth;
  }

  th.percentage {
    width: $percentageWidth + $spacing + 1px;
  }

  td.percentage {
    width: $percentageWidth;
  }

  th.duration {
    width: $durationWidth + $spacing + 1px;
  }

  td.duration {
    width: $durationWidth;
  }

  th.large {
    width: $largeWidth + $spacing + 1px;
  }

  td.large {
    width: $largeWidth;
  }

  th.middle {
    width: $middleWidth + $spacing + 1px;
  }

  td.middle {
    width: $middleWidth;
  }

  th.visibility:after {
    background-image: url('/assets/images/icons/base/visibility.png');
  }

  th.time:after {
    background-image: url('/assets/images/icons/base/time.png');
  }

  th.threshold:after {
    background-image: url('/assets/images/icons/base/threshold.png');
  }

  th.nodes:after {
    background-image: url('/assets/images/icons/base/nodes.png');
  }

  th.edges:after {
    background-image: url('/assets/images/icons/base/edges.png');
  }

  th.regulator:after {
    background-image: url('/assets/images/icons/base/regulator.png');
	}
	
	th.charge:after {
		// background-color: #888888;
    background-image: url('/assets/images/icons/base/charge.png');
  }

  th.regulator.positive:after {
    background-color: $green;
  }

  th.regulator.negative:after {
    background-color: $red;
	}

  th.checkbox {
    width: 2*$iconSize + 0.5*$spacing + 1px;

    &:after {
      position: absolute;
      top: 1px;
      left: 0.5*$spacing;
      width: $iconSize;
      height: $iconSize;
      content: "";
    }

    &.selection:after {
      background-image: url('/assets/images/icons/base/check.png');
    }
  }

  td.checkbox {
    width: 2*$iconSize - 0.5*$spacing;

    &.editing {
      width: 2*$iconSize + 0.5*$spacing;
    }
  }
}

table:not(.no-format) {
  border-collapse: collapse;
  td, th {
    border-collapse: collapse;
  }
}

table:not(.no-format){
  td, th {
    position: relative;
    padding: $cellSpace;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #c0c0c0;
  }

  td {
    height: $fontSize + 2*$cellSpace - 1px;

    &.selectable {
      user-select: text;
    }

    &.date, &.number, &.percentage {
      text-align: right;
		}
		
		&.modelType {
			text-align: center;
		}

    & > .expand {
      width: 100%;
      text-align: center;
      display: inline-block;
    }

    &.number {
      &.positive {
        color: $green;
      }

      &.negative {
        color: $red;
      }
    }

    &.dirty {
      color: $blue;

      &> form {
        color: $baseColor;
      }
    }

    &.new {
      color: $green;
    }

    &.duration {
      text-align: right;
    }

    &.radio {
      &> .checkbox {
        border-radius: $iconSize - 2px;

        &.checked {
          background: none;
          position: relative;

          &:after {
            $size: $iconSize - 2px - $spacing;
            position: absolute;
            top: 0.5*$spacing;
            left: 0.5*$spacing;
            width: $size;
            height: $size;
            border-radius: $size;
            background-color: $baseColor;
            content: "";
          }
        }
      }
    }

    &> .progress {
      position: relative;
      text-align: center;

      &> div {
        position: absolute;
        left: 0;
        bottom: -0.5*$spacing;
        border-bottom: 2px solid $blue;
      }
    }
  }

  thead {
    $color: rgb(243, 243, 243);
    background-color: $color;
    text-align: center;

		tr > th.activity.sortable > span:nth-child(1) > input[type=checkbox] {
			position: absolute;
			top: 50%;
			transform: translateY(-70%);
			right: 15px;
		}

    th {
      height: $fontSize + 3*$cellSpace - 1px;
      line-height: $fontSize;
      user-select: none;
      box-sizing: border-box;

      @-moz-document url-prefix() {
        padding: $cellSpace - 1px $cellSpace $cellSpace - 1px $cellSpace;
      }

      &.float:after {
        @include overflowRight($color, $cellSpace);
      }

      &.sortable {
        cursor: pointer;
        padding-right: $iconSize;

        &> span:last-child {
          position: absolute;
          top: 1px;
          right: 0;
          width: $iconSize;
          height: $iconSize;
          opacity: 0.8;

          @-moz-document url-prefix() {
            top: 0;
          }

          &.base-sort {
            opacity: 0.5;
          }
        }

        &.float:after {
          $width: $overflowWidth + $iconSize;
          width: $width;
          background: linear-gradient(to right, rgba($color, 0), $color percentage(calc($overflowWidth / $width)));
        }
      }
    }
  }

  tbody > tr {
    %state {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 10px;
      height: 10px;

      @-moz-document url-prefix() {
        top: -1px;
      }
    }

    &.new > td:last-child:after {
      background-image: url('/assets/images/icons/base/new.png');
      @extend %state;
    }

    &.dirty > td:last-child:after {
      background-image: url('/assets/images/icons/base/dirty.png');
      @extend %state;
    }

    &.readonly > td:last-child:after {
      background-image: url('/assets/images/icons/base/readonly.png');
      @extend %state;
    }

    &:nth-child(even) {
      $color: rgb(253, 253, 253);
      background-color: $color;

      &> td.float:before {
        @include overflowRight($color, $cellSpace);
      }
    }
    
    & > .center {
        text-align: center;
    }

    &:nth-child(odd) {
      $color: rgb(248, 248, 248);
      background-color: $color;

      &> td.float:before {
        @include overflowRight($color, $cellSpace);
      }
    }
  }

  tbody.selectable > tr {
    cursor: pointer;
    user-select: none;
  }
}

table:not(.no-format).selected {
  position: absolute;
  left: 0;
  right: 0;

  &> tbody > tr {
    background-color: $selected;
    user-select: none;

    &> td.float:before {
      @include overflowRight($selected, $cellSpace);
    }
  }

  td {
    &.editing {
      padding: 0;
      height: $fontSize + 2*$spacing - 1px;
      background-color: rgba(white, 0.5);

      form {
        position: static;
      }

      input {
        position: absolute;
        left: $cellSpace;
        right: $cellSpace;
        top: $cellSpace - 1px;
        bottom: $cellSpace - 1px;
        border: none;
        width: 100%;
        padding-left: 0;
        background-color: transparent;

        @-moz-document url-prefix() {
          left: $cellSpace - 1px;
          top: $cellSpace;
        }
      }

      &.float:before {
        @include overflowRight(rgb(231, 244, 247), $cellSpace);
      }
    }
  }
}

table tbody tr {
	& span > input.icon.warning-icon {
		background-color: #f96d0a !important;
		transform: rotate(180deg);
    border-radius: 5px;
    margin: 0 5px;
		float: right;
	}
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  table:not(.no-format).selected td.editing input {
    top: $cellSpace + 1px;
    padding-left: $cellSpace;

  }
}
