@import "../variables";

ul.toolbarCss {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
    justify-content: flex-start;
    /* Below removes bullets and cleans white-space */
    list-style: none;
    padding: 0;
    /* Bonus: forces no word-wrap */
    white-space: nowrap;

    ul > li:hover > div:not(.disabled) {
	  background-color: #3598db !important;
	  cursor: pointer;
    }

    li > ul li {
      position: relative;
    }

    & li {
        &:hover{
          &>div.remove, &>div>div.remove{
            opacity: 1 !important;
          }
        }

        &> ul {
            z-index: 100;
            animation: fadeIn 10s;
            padding: 0;
            border-radius: 2px;
            list-style-type: none;
            min-width: 65px;
            border: 1px solid rgba(black, 0.3);
            box-shadow: 1px 1px 7px 1px rgba(grey, 0.3);

            position: absolute;

            background-color: #232323;


            & li {
                user-select: none;

                min-width: 80px;
                line-height: 14px;
                &:not(:first-child) {
                    border-top: 1px solid rgba(black, 0.3);
                }

                &.custom {
                  border-top: 1px solid rgba(white, 0.5);

                  &:last-child > div:before {
                      content: "";
                      background-image: url('/assets/images/icons/base/layout.png');
                  }
                }

                &.disabled {
                  opacity: 0.6;
                }

                &> div:not(.disabled) {
                  cursor: pointer;
                }
            }




//            width: 105px;
            & li>ul {
              width: auto;
              max-width: 250px;
              top: -1px;
              left: 100%;
              position: absolute;
            }
        }

        &> div {
            min-width: 105px;
            overflow: visible;

            white-space: nowrap;
            padding: 4px;
            transition: opacity 0.2s ease-in;

            &.checkbox {
              padding-left: 22px;

              &:before {
                position: absolute;
                top: 2px;
                left: 0.5*$spacing;
                width: $iconSize;
                height: $iconSize;
                content: none;
              }

              &.checked:before {
                top: 0.5*$spacing;
                content: "";
                background-image: url('/assets/images/icons/base/check-white.png');
              }

            }
        }

        &:hover > ul {
            display: block;
        }
    }

/*
    &> li:not(:first-child):before {
      content: "";
      width: 15px;
    }
*/

    &> li {
      &:hover {
        background-color: #3598db !important;
      }

      &>div {
        padding-left: 5px;
        min-width: 5px;
        padding-right: 5px;
      }
    }
}
