div.panel.modelCards > div.content >div> div.view {
  position : relative;
	width : 100%;
	height: calc(100vh - 124px);
	
	&>div {
		border: 0px !important;
		box-shadow: none !important;
	}
}
div.view {
  $resizeWidth: 6px;
  $barHeight: $iconSize + 2*$spacing;
  position: absolute;
  padding: 0.5*$spacing;
  line-height: normal;
  box-sizing: border-box;

  &> div:not(.compact){
    padding-top: $barHeight + 1px;
  }
  &> div {
    position: relative;
    height: 100%;
    color: $baseColor;
    background-color: $windowBackgroundColor;
    border: 1px solid rgba(black, 0.3);
    box-sizing: border-box;
    box-shadow: 1px 1px 7px 1px rgba(grey, 0.3);

    &> div.bar {
      position: relative;
      height: $iconSize - 1px;
      margin-top: -$barHeight - 1px;
      padding: (0.5*($barHeight - $iconSize) + 1px) $spacing 0.5*($barHeight - $iconSize) $spacing;
      font-size: $fontSize + 2px;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px solid $borderColor;
      cursor: default;
      user-select: none;

      &>span>div.editable:empty {
        min-width: 100px;
        min-height: $fontSize + 2px;
        background-color: $highlightColor;
      }

      div.actions {
        position: absolute;
        top: 2px;
        bottom: $spacing - 2px;
        left: auto;
        right: 0;
        background-color: $windowBackgroundColor;
        padding-right: 2px;

        &:before {
          @include overflowLeft($windowBackgroundColor);
        }
				& > div.act-btn-group {
					margin-left: 7px;
				}
      }

      &> span > ul li {
        position: relative;
        display: inline-block;
        margin-right: 4*$spacing;
        cursor: pointer;

        &.selected {
          color: $blueSapphire;

          &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.5*$spacing;
            border-bottom: 1px solid $blueSapphire;
            content: "";
          }
        }
      }

      dl {
        font-size: $fontSize;
        line-height: 2*$fontSize;
        margin-right: $spacing;
      }
    }

    &> div{
      height: 100%;
      position: relative;
    }

   &> span > div.resize {
      position: absolute;
      z-index: 1;
      opacity: 0;

      &.n {
        top: -0.5 * $resizeWidth;
        left: 0;
        width: 100%;
        height: $resizeWidth;
        cursor: n-resize;
      }

      &.e {
        top: 0;
        right: -0.5 * $resizeWidth;
        width: $resizeWidth;
        height: 100%;
        cursor: e-resize;
      }

      &.s {
        bottom: -0.5 * $resizeWidth;
        left: 0;
        width: 100%;
        height: $resizeWidth;
        cursor: s-resize;
      }

      &.w {
        top: 0;
        left: -0.5 * $resizeWidth;
        width: $resizeWidth;
        height: 100%;
        cursor: w-resize;
      }

      &.se {
        bottom: -0.5 * $resizeWidth;
        right: -0.5 * $resizeWidth;
        width: 2 * $resizeWidth;
        height: 2 * $resizeWidth;
        cursor: se-resize;
      }

      &.sw {
        bottom: -0.5 * $resizeWidth;
        left: -0.5 * $resizeWidth;
        width: $resizeWidth;
        height: $resizeWidth;
        cursor: sw-resize;
      }

      &.ne {
        top: -0.5 * $resizeWidth;
        right: -0.5 * $resizeWidth;
        width: $resizeWidth;
        height: $resizeWidth;
        cursor: ne-resize;
      }

      &.nw {
        top: -0.5 * $resizeWidth;
        left: -0.5 * $resizeWidth;
        width: $resizeWidth;
        height: $resizeWidth;
        cursor: nw-resize;
      }
    }

    &> div.content {
      position: relative;
      height: 100%;
    }
  }
    
}
