div#back-to-dashboard {
	padding-bottom: 13px;
}

div#page-container {
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div#page-content {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: 100%;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
  box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
}
