.joyride-beacon {
  width: 26px;
  height: 26px;
}
.joyride-tooltip {
  font-family: 'Arial','helvetica', 'sans-serif';
}

.joyride-tooltip__main {
  font-size: 15px;
}

.joyride-overlay {
  background-color: rgba(#fff, 0.0);
}

.joyride-icons {
  background-color: #000;
  width: 15px;
  height: 15px;
}

.joyride-large-icon {
  background-color: #f3f3f3;
  width: 15px;
  height: 15px;
}
