@import url(https://fonts.googleapis.com/css?family=Economica);

.app > div > div.learning.landing {
  background-color: white;
}

.app > div > div.learning.landing {
  position: relative;
  background-color: white;
}

div.learning-bottom{
  // position: absolute;
  // bottom: 0;
  border-top: 0px solid $borderColor;
  padding: 10px;
  width: calc(100% - 20px);
	overflow-y: hidden;
}

div.learningView > div.content > div > div.scrollable > div{
	height: 100%;
}

.learning.landing {

  font-family: 'Economica', sans-serif;

  #help-footer{
    color: #fff;
    text-decoration: none;
  }

  #container {
    background-image: url("/assets/images/landing/learning/learning-background.jpg");
    background-size: 100% 100%;
    padding-top: 10vw;
    padding-bottom: 6vw;
    text-align: center;
  }

  #green-band{
    background: rgba(41, 174, 161, 0.8);
    color: #FFFFFF;
  }

  #head {
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    padding-top: 2vw;
  }

  #subhead {
    font-size: 1.6vw;
    font-weight: 200;
  }

  #info-container {
    padding: 2vw;
  }

  #info-text {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 1.2vw;
    line-height: 1.5vw;
    width: 13.6vw;
  }

  ul{
    display: inline-block;
    padding: 0 4%;
    vertical-align: top;
  }

  .connector-line{
    height: 4vw;
  }

  #rotate1{
    -ms-transform: rotate(140deg); /* IE 9 */
    -webkit-transform: rotate(140deg); /* Chrome, Safari, Opera */
    transform: rotate(140deg);
  }

  #rotate2{
    -ms-transform: rotate(100deg); /* IE 9 */
    -webkit-transform: rotate(100deg); /* Chrome, Safari, Opera */
    transform: rotate(100deg);
  }

  #rotate3{
    -ms-transform: rotate(50deg); /* IE 9 */
    -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
    transform: rotate(50deg);
  }

  #crt-acc-btn {
    display: block;
    background: #EA5E42;
    border-radius: 1vw;
    margin: 5vw auto 5vw auto;
    border: 1px solid #F1623C;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw 2.5vw;
  }

  #crt-acc-btn:hover{
    background: #C64930;
    border: 1px solid #C64930;
    cursor: pointer;
  }

  #explore-button{
    color: #ffba32;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10vw;
  }

  #explore-button:hover{
    cursor: pointer;
  }

  #nfs_logo_div{
    display: table-cell;
    position: absolute;
    right: 5vw;
    color: white;
    width: 10vw;
    font-size: 1.2vw;
  }

  #nsf_logo{
    float: right;
    width: 3vw;
    margin-left: 0.5vw;
  }

  #fund_by{
    height: 3vw;
    line-height: 3vw;
    float: right;
  }

  #fund_text{
    position: relative;
    white-space: nowrap;
  }

  #head2 {
    color: #0f6ace;
    font-size: 3vw;
    text-align: center;
    margin-top: 4vw;
  }

  #module-names {
    font-family: 'Arial', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: #434343;
    line-height: 1.8vw;
    word-break: normal;
    display:inline-block;
    margin-left: 16%;
    width: 15%;
  }

  #module-logos {
    margin-left: 14.2vw;
    width: 14.2vw;
    margin-bottom: 4vw;
    vertical-align: middle;
  }

  #video{
    background-color: #434343;
    padding: 0 3vw 0 3vw;
  }

  #head3 {
    padding-top: 2vw;
    font-weight: bold;
    font-size: 3vw;
    color: white;
    text-align: center;
  }

  #quotes-div{
    max-width: 25vw;
    margin-top: -8vw;
    margin-left: 5vw;
    text-align: center;
  }

  #quotes-up{
    font-family: 'Arial', sans-serif;
    font-size: 15vw;
    color: #ea5e42;
    margin-left: 30vw;
  }

  #quotes-down{
    font-family: 'Arial', sans-serif;
    font-size: 15vw;
    color: #ea5e42;
  }

  #quotes-text{
    font-family: 'Arial', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: #ffba32;
    line-height: 2vw;
  }

  #youtube{
    margin-top: -15vw;
    float: right;
    width: 50vw;
    height: 25vw;
  }

  #about{
    padding: 0 20vw 40px 20vw;
    font-size: 1vw;
    font-weight: bold;
    color: #434343;
    line-height: 2vw;
  }

  #about-names{
    font-family: 'Arial', sans-serif;
  }

  #about li{
    list-style-type: disc;
    word-break: normal;
    width: 30vw;
    padding-left: 1vw;
  }

  #about-list{
    font-family: 'Arial', sans-serif;
  }

  #try-btn {
    background: #EA5E42;
    border-radius: 1vw;
    border: 1px solid #F1623C;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw 5vw;
    margin-top: 3.5vw;
  }

  #try-btn:hover{
    background: #C64930;
    border: 1px solid #C64930;
    cursor: pointer;
  }

  #footer{
    background-color: #434343;
    padding: 1vw 0 1vw 2vw;
    color: white;
  }

  #footer-logos img {
    height: 3vw;
    width: auto;
    margin-left: 0;
    margin-right: 1vw;
    float: left;
    display: table-row;
  }

  table, td, th {
    border: none;
    width: auto;
    padding: 1vw 5vw 0 0;
  }

  th {
    text-align: left;
    font-size: 1.5vw;
  }

  tr {
    font-size: 1.3vw;
  }

  /*Media queries */

  /* Portrait and Landscape */

  /* ----------- iPhone 4 and 4S ----------- */

  /* Portrait and Landscape */
  @media (min-width: 320px) and (max-width: 960px) {
    /* nav */
    #nav {
      height:10vw;
    }

    /* links */
    #sign-in{
      font-size: 3.5vw;
    }

    #head {
      font-size: 5vw;
    }

    #subhead {
      font-size: 4vw;
    }

    #info-text {
      font-size: 2.5vw;
      line-height: 2.5vw;
    }

    #crt-acc-btn {
      border-radius: 2vw;
      margin: 5vw auto 5vw auto;
      font-size: 3vw;
      padding: 2vw 3vw;
    }

    #explore-button{
      font-size: 4vw;
    }

    #nfs_logo_div{
      position: absolute;
      margin-top: -5vw;
      width: 20vw;
      right: 5vw;
      font-size: 2.5vw;
    }

    #nsf_logo{
      width: 5vw;
      margin-left: 1vw;
    }

    #fund_by{
      height: 5vw;
      line-height: 5vw;
    }

    #head2 {
      font-size: 5vw;
    }

    #module-names {
      font-size: 2vw;
      line-height: 3vw;
      margin-left: 8vw;
      width: 20vw;
    }

    #head3 {
      font-size: 5vw;
    }

    #quotes-text{
      font-size: 2vw;
      line-height: 2vw;
    }

    #youtube{
      margin-top: -25vw;
    }

    #about{
      padding: 0 10vw 40px 10vw;
      font-size: 2.5vw;
      line-height: 3vw;
    }

    #about li{
      list-style-type: disc;
      word-break: normal;
      width: 70vw;
      padding-left: 1vw;
    }

    #about-list{
      font-family: 'Arial', sans-serif;
    }

    #try-btn {
      border-radius: 2vw;
      margin: 5vw auto 0vw auto;
      font-size: 3vw;
      padding: 2vw 10vw;
    }

    #footer-logos img {
      height: 6vw;
      margin-right: 1vw;
    }

    table, td, th {

      padding: 2vw 10vw 0 0;
    }

    th {
      font-size: 3vw;
    }

    tr {
      font-size: 2.6vw;
    }

  }
}

div.insights-dashboard-wrapper {
  text-align: center;
}

div.insights-dashboard {
  margin: 15px auto;
  text-align: center;
  display: inline-block;

  div.details div.content {
    margin: 0 40px;
    text-align: center;
  }
}
div.progress {
  margin: 10px 25px;
  display: inline-block;
	text-align: center;

  svg {
    padding: 15px;

    transition: border-color .125s linear;
  
    border: 0;
  }

  h1 {
    margin-top: 15px;
    position: relative;
		text-align: center;

    span{
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
    }
  }

  &:hover{
    svg{
      border-color: $borderColor;
    }
  }
}

span.lo-highlight {
  background-color: #ddd;
}
li.lo-select {
  cursor: pointer;
  margin: 5px 0;
  span {
    padding: 4px;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #ddd;
    }
  }
}

.lo-right-panel {
  border-left: 1px solid $borderColor;
  h2.lo-related {
    position: sticky;
    margin: 0;
    padding: 2px 0;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid $borderColor;
    overflow: auto; /* fixes float */
    vertical-align: bottom;
    
    span.options {
      line-height: 22px;
    }

    span.add {
      float: right;
      font-weight: bold;
      font-size: 12px;
    }
    input.icon {
      margin: 2px;
    }
  }
}