div.ui-test-app {
	position: absolute;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #787878;
	background-color: white;
	box-shadow: 3px 3px 7px rgba(120, 120, 120, 0.7);
	padding: 5px;

	div.selector {
		position: absolute;
		width: 300px;
		bottom: 0;
		left: 0;
		top: 0;
		border-right: 1px solid #787878;

		display: flex;
		flex-direction: column;

		&> h2 {
			padding-left: 5px;
			color: black;
			margin-bottom: 3px;
		}
		&> div.view-select {
			text-align: center;
			padding: 7px;
		}
		&> ul.list {
			flex-grow: 1;
			border-top: 1px solid #787878;
			overflow-y: auto;

			li {
				padding: 10px;
				font-size: 12pt;
				color: black;
				cursor: pointer;
				user-select: none;
				background-color: #bbb;
				transition: background-color .2s ease-in-out, color .2s ease-in-out;

				&.selected {
					background-color: skyblue !important;
				}

				&:hover {
					background-color: skyblue;
				}

				&:nth-child(2n) {
					background-color: #ddd;
					&:hover {
						background-color: skyblue;
					}
				}
			}
		}
	}
	div.demo {
		position: absolute;
		left: 300px;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: auto;

		div.none-selected {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: black;
			font-size: 18pt;
		}

		div.panel.magnify {
			div.content {
				font-size: 12pt;
				color: black;
			}
		}

		pre {
			margin: 10px;
			color: black;
			font: 'Consolas', 'Courier New', monospace;
		}
	}
	div#downloader {
		display: none;
	}
}