.loadingcircle-base {	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	span {
		padding-left: 5px;
		font-weight: 600;
	}
	.loadingcircle-icon {
		background-image: url('/assets/images/loading.gif');
		background-repeat: no-repeat;
		background-position: left;	
		width: 15px;
		height: 15px;
	}
}