.tableSearch {
  display: flex;
  width: fit-content;
  position: relative;
  margin-bottom: 10px; 
}

.searchInputWrapper {
  position: relative;
  margin: 3px 0;
  max-width: 177.82px;
}

.searchInputWrapper input {
  max-width: 177.82px;
  padding-block: 0px;
  padding-inline: 0px;
  border: none;
  color: #999;
}

.searchInputWrapper input:focus-visible {
  max-width: 177.82px;
  padding-block: 0px;
  padding-inline: 0px;
  outline: none;
  border: none; 
  color: #333;
}

.searchInputWrapper:hover .clearButton {
  display: block;
}

.clearButton {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: gray;
  width: 14px;
  height: 14px;
  background-color: #727272;
  background-image: url(/assets/images/icons/base/clear.png);
  border: 1px solid #dadada;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .1);
  border-radius: 50%;
  transition: all .5s;
  transition-property: opacity, background-color, border-color;
}

.clearButton:hover {
  background-color: red;
}

.searchButton {
  border: 0px solid #ccc;
  margin: 3px 0;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  cursor: pointer;
  background-color: #888;
  transition-property: opacity, background-color;
  background-repeat: no-repeat;
  background-image: url(/images/icons/base/search.png);
}

.searchButton:hover {
  background-color: #173;;
}

.searchButton:disabled {
  background-color: #e0e0e0;
  cursor: auto;
}

.historyButton {
  border: 0px solid #ccc;
  margin: 3px 0;
  width: 10px;
  margin-right: 6px;
  height: 16px;
  vertical-align: bottom;
  cursor: pointer;
  background-color: #888;
  transition-property: opacity, background-color;
  background-repeat: no-repeat;
  background-image: url(/images/icons/base/menu.png);
}

.historyButton:hover {
  background-color: #173;
}

.historyButton:disabled {
  background-color: #e0e0e0;
  cursor: auto;
}

.historyList {
  margin-top: 5px;
  list-style: none;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: absolute; 
  z-index: 100; 
  width: calc(100% - 20px);
  top: 80%;
}

.historyItem {
  padding: 8px 12px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #eee;
}

.historyItem:last-child {
  border-bottom: none;
}

.historyItem:hover {
  background-color: #f5f5f5;
}

.historyList li:hover .deleteButton {
  display: block;
}

.deleteButton {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: gray;
  width: 14px;
  height: 14px;
  background-color: #727272;
  background-image: url(/assets/images/icons/base/clear.png);
  border: 1px solid #dadada;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .1);
  border-radius: 50%;
  transition: all .5s;
  transition-property: opacity, background-color, border-color;
}

.deleteButton:hover {
  background-color: red;
}