#dialog-cookieModal-backdrop { 
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 76%);
	padding: 20px;
	z-index: 1000;
}

.cookie-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: #ffffff;
	padding: 15px 20px;
	box-shadow: 0px 0px 13px 3px #0000007a;
	font-family: Arial, sans-serif;
	border-radius: 8px;
	max-width: 500px;
	z-index: 1000;
	border: 1px solid #325b62;
}

.cookie-title {
	font-size: 16px;
	font-weight: bold;
}

.cookie-description {
	font-size: 14px;
	color: #212121;
}

.cookie-buttons {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.cookie-settings-buttons {
	display: inline-flex;
	gap: 10px;
	margin-top: 10px;
}

.cookie-btn {
	padding: 8px 12px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid;
}

.cookie-accept {
	background: #025E75;
	color: white;
}

.cookie-reject, .cookie-customize {
	background: transparent;
	color: #025E75;
}

.cookie-modal {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 13px 3px #0000007a;
	font-family: Arial, sans-serif;
	z-index: 1001;
	border: 1px solid #325b62;
}

.cookie-modal-content {
	text-align: center;
}

.cookie-section {
	background: #f4f4f4;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.cookie-section-description{
	display: none;
	line-height: 1.5em;
}

.cookie-option {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-grow: 1;
}

.cookie-icon {
	font-size: 16px;
}

.cookie-text {
	flex-grow: 1;
}

.cookie-arrow {
	font-size: 16px;
	color: #999;
}

.cookie-switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 20px;
}

.cookie-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.cookie-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 20px;
	transition: .4s;
}

.cookie-switch input:checked + .cookie-slider {
	background-color: #007aff;
}

.cookie-close-btn {
	width: 100%;
	background: #007aff;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 15px;
}
