.tableHead {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: bold;
}

.tableHead th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sortIcon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.defaultSort {
  background-image: url('/assets/images/icons/base/sort.png');
}

.sortAsc {
  background-image: url('/assets/images/icons/base/asc.png'); 
}

.sortDesc {
  background-image: url('/assets/images/icons/base/desc.png');
}

th.visibility {
  width: 100px;
  text-align: center;
}

th.activity {
  width: 245px;
  text-align: center;
}

th.name {
  width: 200px;
  text-align: center;    
}
