// .tabs {
// 	border: 0px;
// 	background: transparent;
// 	color: white;
// 	font-size: medium;
// }

// .tabs.active-tabs {
// 	background: #0091E7;
// 	color: white;
// 	border: 0px transparent;
// 	border-radius: 5px;
// 	font-size: medium;
// }