@import "../../../../../../scss/variables.scss";
@import "../../../../../../scss/base.scss";

.addModelList {

	ul.ul {
		background-color: $windowBackgroundColor;
		border: 1px solid rgba(black, 0.3);
		box-shadow: 1px 1px 7px 1px rgba(grey, 0.3);
	
		&> li {
			line-height: $fontSize + 14px;

			&.def {
				border-bottom: 1px solid #dadada;
			}
			
			&> div {
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
				padding: 0 $overflowWidth 0 $spacing;
				transition: opacity 0.2s ease-in;
				box-sizing: border-box;
	
				&:after {
					@include overflowRight($windowBackgroundColor, 0);
				}
	
				&:not(.disabled):hover {
					background-color: $selected;
	
					&:after {
						@include overflowRight($selected, 0);
					}
				}
	
				&.checkbox {
					padding-left: $spacing + $iconSize;
					text-align: left;
	
					&:before {
						position: absolute;
						top: 2px;
						left: 0.5*$spacing;
						width: $iconSize;
						height: $iconSize;
						content: none;
					}
	
					&.checked:before {
						content: "";
						background-image: url('/assets/images/icons/base/check.png');
					}
				}
	
				&.disabled {
					opacity: 0.6;
				}
	
				&:not(.disabled) {
					cursor: pointer;
				}
			}

			&.def {
				border-bottom: 1px solid #dadada;
			}
		}
	}

	.add-model-btn{
		height: 50%;
		width: 100%;
		background-color: powderblue;
		font-size: 20px;
	}
}
